/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-display: swap;
}
:root{
    --black:#000;
    --white:#fff;
    --darkblue:#1D2937;
    --orange1:#FF6E4B; 
    --gold:#d1b564;
    --orange2:#FF9800; 
    --green:green;
    --cinza: rgb(216, 216, 216);
}
html {
    scroll-behavior: smooth;
}
/* header */
header{
    background-color: var(--gold);
    width: 100%;
    height: 2rem;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
header address{
    color: white;
}
header i.icones{
    text-align: center;
    color: white;
}
@media (max-width:490px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 5rem;
    }
}
/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 1rem;
    background-color: var(--white);
}
nav a.navbar:hover{
    opacity: 1;
    color: var(--white)!important;
    background-color: var(--gold);
    border-radius: 15%;
    padding: 10px 10px;
}
.menu-mobile-icon {
    display: none; /* Escondido por padrão */
    cursor: pointer;
    font-size: 1.5rem;
}
/* Centralizar a logo */
.logo-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo {
    height: 50px;
    width: auto;
}
/* Menu desktop */
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin: 0 1rem;
}
.menu a {
    text-decoration: none;
    color: var(--darkblue);
    font-size: 1rem;
}
.menu li a.btn-menu {
    padding: 10px;
    background-color: var(--black);
    color: var(--gold);
    border-radius: 20px;
    font-weight: 700;
    font-size: 1rem;
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.menu li a.btn-menu:hover {
    transform: translateY(-5px); /* Levanta o botão ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Aumenta a sombra para parecer que está no ar */
    background-color: var(--gold); /* Altera a cor de fundo */
    color: var(--white); /* Altera a cor do texto */
}
/* Menu mobile */
@media (max-width: 740px) {
    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: var(--darkblue);
        padding-top: 60px;
        transition: left 0.3s ease;
        color: var(--white);
    }
    .menu a {
        text-decoration: none;
        color: var(--white);
        font-size: 1rem;
    }
    .menu li {
        margin: 1.5rem 0;
        padding-left: 1.5rem;
    }
    .menu-mobile-icon {
        display: block; /* Exibido em telas menores */
    }
    .menu-open {
        left: 0;
        display: flex; /* Exibido ao abrir o menu */
    }
    /* Centralizar a logo */
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
}
/* card vantagens */
.card-container {
    display: flex;
    justify-content: space-around; /* Distribui os cards igualmente ao longo da linha */
    flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha quando não há espaço suficiente */
    margin-top: 2vh;
}
.card-vantagens {
    width: 300px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    background-color:var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid #d1b564;
}
.card-vantagens:hover{
    transform: translateY(-10px);
    background-color:var(--gold);
    color: var(--white);
}
.card-vantagens:hover h3,
.card-vantagens:hover p,
.card-vantagens:hover i {
    color: var(--white);
}
.card-vantagens i {
    font-size: 300%;
    text-align: center;
    color: var(--gold);
}
.card-vantagens h3 {
    margin: 0;
    font-size: 110%;
    text-align: center;
    color: var(--gold);
}
.card-vantagens p {
    margin: 0;
    font-size: 90%;
    text-align: center;
    color: var(--gold);
}
/* missão, visão e valores */
.card-container-missao-visao-valores {
    display: flex;
    justify-content: space-around; /* Distribui os cards igualmente ao longo da linha */
    flex-wrap: wrap;
}
.card-missao-visao-valores {
    display: flex;
    justify-content: space-around; /* Distribui os cards igualmente ao longo da linha */
    flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha quando não há espaço suficiente */
    margin-top: 10vh;
}
.card-missao-visao-valores {
    width: 300px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    background-color:var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid #d1b564;
}
.card-missao-visao-valores:hover{
    /* transform: translateY(-10px); */
    background-color:var(--gold);
    color: var(--white);
}
.card-missao-visao-valores:hover h3,
.card-missao-visao-valores:hover p,
.card-missao-visao-valores:hover i {
    color: var(--white);
}
.card-missao-visao-valores i {
    font-size: 300%;
    text-align: center;
    color: var(--gold);
}
.card-missao-visao-valores h3 {
    margin: 0;
    font-size: 110%;
    text-align: center;
    color: var(--gold);
}
.card-missao-visao-valores p {
    margin: 0;
    font-size: 90%;
    text-align: center;
    color: var(--gold);
}
/* banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/banner-grupo-js-prestadora-de-servico-\ seguranca.svg);
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    color: var(--white);
    text-align: center;
}
.banner h1{
    font-size: 2.2rem;
    margin-bottom: 15px;
    font-weight: normal;
}
.banner h2{
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: white;
    text-decoration: solid;
    font-family: "Poppins", sans-serif;
    font-display: swap;
    font-weight: normal;
}
.banner a.btn-saiba-mais{
    background: var(--gold);
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}
.banner a.btn-saiba-mais:hover{
    background: var(--green);
}
@media (max-width: 700px){
    .banner h1{font-size: 2rem; padding: 10px;}
    .banner h2{font-size: 1.5rem; padding: 10px;}
    .banner .btn-saiba-mais{font-size: 1rem; padding: 10px 15px;}
}
/* conheça o hotel */
section.conheca-o-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* padding: 50px 20px; */
    text-align: center;
}
section.conheca-o-hotel h3{
    font-size: 3rem;
    margin-bottom: 35px;
    color: var(--darkblue);
    line-height: 100%;
}
section.conheca-o-hotel p{
    font-size: 1.1rem;
    max-width: 800px;
    margin-bottom: 25px;
    color: var(--darkblue);
}
section.conheca-o-hotel hr{
    width: 200px;
    height: 2px;
    margin-bottom: 20px;
    background-color: var(--gold);
    border: none;
}
/* sobre */
section.conheca-o-hotel ul.grid-img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}
section.conheca-o-hotel ul.grid-img li{
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
section.conheca-o-hotel ul.grid-img li.small{
    flex-basis: 40%;
}
section.conheca-o-hotel ul.grid-img li.large{
    flex-basis: 60%;
}
@media (max-width: 700px){
    section.conheca-o-hotel h3{
        font-size: 2.5rem;
        margin-bottom: 35px;
    }
    section.conheca-o-hotel ul.grid-img li.small,section.conheca-o-hotel ul.grid-img li.large{
        flex-basis: 100%;
    }
}
.card i{
    font-size: 250%;
    text-align: center;
    color: var(--white);
}
/* clientes */
section.conheca-o-hotel ul.grid-img-clientes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}
section.conheca-o-hotel ul.grid-img-clientes li{
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
} 
.grid-img-clientes li{
    transition: filter 0.3s; /* Adiciona uma transição suave ao filtro */
    filter: grayscale(100%); /* Aplica a desaturação inicial */
}
.grid-img-clientes li:hover{
    filter: grayscale(0%); /* Remove a desaturação ao passar o mouse */
}
section.conheca-o-hotel ul.grid-img-clientes li.small{
    flex-basis: 40%;
}
section.conheca-o-hotel ul.grid-img-clientes li.large{
    flex-basis: 60%;
}
@media (max-width: 700px){
    section.conheca-o-hotel h3{
        font-size: 2.5rem;
        margin-bottom: 35px;
    }
    section.conheca-o-hotel ul.grid-img-clientes li.small,section.conheca-o-hotel ul.grid-img-clientes li.large{
        flex-basis: 100%;
    }
}
/* service */
section.section-vantagens{
    background: var(--darkblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 35px;
    text-align: center;
}
section.section-vantagens h4{
    font-size: 3rem;
    margin-bottom: 35px;
    color: var(--white);
    line-height: 100%;
}
section.section-vantagens p{
    font-size: 1.1rem;
    max-width: 800px;
    margin-bottom: 25px;
    color: var(--gold);
}
section.section-vantagens hr{
    width: 200px;
    height: 2px;
    margin-bottom: 70px;
    background-color: var(--gold);
    border: none;
}
section.section-vantagens div.service{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}
section.section-vantagens div.service div.card{
    background-color: var(--gold);
    color: var(--white);
    width: 100%;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
div.service div.card p.title-service{
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15px;
} 
div.service div.card p.text-service{
    color: var(--white);
    font-size: 1rem;
    text-align:center;
}
div.service div.card a{
    padding: 10px;
    background-color: var(--darkblue);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: box-shadow 0.2s;
}
div.service div.card a:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
section.section-vantagens ul.grid-img{
    display: flex;
    align-items: center;
}
section.section-vantagens ul.grid-img li{
    padding: 0 30px;
    text-align: center;
    list-style: none;
}
section.section-vantagens ul.grid-img li i{
    color: var(--gold);
    font-size: 50px;
    margin-bottom: 30px;
}
section.section-vantagens ul.grid-img li h5{
    font-size: 1.4rem;
    color: var(--white);
    margin-bottom: 20px;
    font-weight: 500;
}
section.section-vantagens ul.grid-img li p{
    color: var(--white);
    font-size: 1rem;
}
@media (max-width: 950px){
    section.section-vantagens h4{
        font-size: 2.5rem;
        margin-bottom: 35px;
    }
    section.section-vantagens .grid-img{
        flex-direction: column;
    }
    section.section-vantagens div.service{
       flex-direction: column;
    }
}
/* Newslatter */
section.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    background-color: var(--white);
    gap: 50px; /* Espaço entre as colunas */
}
.newsletter-content {
    max-width: 50%; /* Limita o conteúdo de texto a 50% da largura */
    text-align: left;
}
section.newsletter h4 {
    font-size: 2.5rem;
    margin-bottom: 35px;
    color: var(--darkblue);
    line-height: 100%;
}
section.newsletter p {
    color: var(--darkblue);
    font-size: 1.1rem;
    margin-bottom: 20px;
}
section.newsletter hr {
    width: 200px;
    height:4px;
    margin-bottom: 40px;
    background-color: var(--gold);
    border: none;
}
section.newsletter div.newsletter-content a {
    /* margin-top: 50px; */
    padding: 15px;
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    border: none;
    border-radius: 20px 0px;
    cursor: pointer;
    font-size: 1.2rem;
    animation: pulse 1s infinite;
}
.about-image {
    max-width: 45%; /* Define a largura máxima da imagem */
}
.about-image img {
    width: 100%; /* A imagem ocupa 100% do espaço do container */
    height: auto; /* Mantém a proporção da imagem */
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* Responsividade para dispositivos menores */
@media (max-width: 700px) {
    section.newsletter {
        flex-direction: column;
        padding: 50px 20px;
    }
    .newsletter-content, .about-image {
        max-width: 100%;
        text-align: center;
    }
    section.newsletter p {
        font-size: 1.2rem; /* Reduz o tamanho da fonte para telas menores */
    }
}
/* faq */
div.container-faq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1D2937;
    width: 100%;
    height: 0 auto;
    padding: 20px;
}
div.container-faq h2{
    font-size: 2rem;
    color: var(--white);
}
div.container-faq details.details-faq{
    padding: 10px;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}
div.container-faq details.details-faq summary{
    font-size: 1.3rem;
    color: var(--white);
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
div.container-faq details.details-faq p{
    font-size: 1.1rem;
    color: var(--gold);
}
div.container-faq details.details-faq summary:hover {
    cursor: pointer;
    background-color: var(--gold);
    color: var(--blue);
    padding: 10px;
    border-radius: 20px;
}
@media (max-width: 700px){
    div.container-faq details.details-faq{
    padding: 10px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}
}
/* footer */
footer {
    background-color: var(--black);
    color: var(--white);
    /* padding: 40px 20px; */
    padding-top: 40px;
    width: 100%;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
/* Coluna 1: Logo e Resumo */
.footer-logo-summary {
    text-align: center;
    flex: 1;
    min-width: 200px;
}
.footer-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.footer-summary {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.6;
}
/* Coluna 2: Links Institucionais */
.footer-links {
    flex: 1;
    min-width: 200px;
}
.footer-links h3 {
    font-size: 1.5rem;
    color: var(--gold);
    margin-bottom: 10px;
}
.footer-links hr {
    border: none;
    height: 4px;
    width: 12rem;
    background-color: var(--gold);
    margin-bottom: 10px;
}
.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-list li {
    margin-bottom: 5px;
}
.footer-list li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
}
.footer-list li a:hover {
    color: var(--gold);
}
/* Coluna 3: Contato e Redes Sociais */
.footer-contact {
    flex: 1;
    min-width: 200px;
}
.footer-contact h3 {
    font-size: 1.5rem;
    color: var(--gold);
    margin-bottom: 10px;
}
.footer-contact hr {
    border: none;
    height: 4px;
    width: 12rem;
    background-color: var(--gold);
    margin-bottom: 10px;
}
.social-icons {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}
.social-icons li a {
    font-size: 2rem;
    color: var(--white);
}
.social-icons li a:hover {
    color: var(--gold);
}
/* Sub-footer */
.sub-footer {
    background-color: var(--gold);
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.sub-footer p {
    color: var(--black);
    margin: 0;
    font-size: 0.9rem;
}
.footer-dev {
    color: var(--black);
    text-decoration: none;
    font-size: 0.9rem;
}
.footer-dev:hover {
    color: var(--white);
}
/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        text-align: center;
        margin-bottom: 5px;
    }
    .social-icons {
        justify-content: center;
    }
}
